[elasticsearch-{{ elasticsearch.version }}]
name=Elasticsearch repository for {{ elasticsearch.version }} packages
baseurl=http://packages.elastic.co/elasticsearch/{{ elasticsearch.version }}/centos
gpgcheck=1
gpgkey=http://packages.elastic.co/GPG-KEY-elasticsearch
enabled=1
