[kibana-{{ kibana.version }}]
name=Kibana repository for {{ kibana.version }}.x packages
baseurl=http://packages.elastic.co/kibana/{{ kibana.version }}/centos
gpgcheck=1
gpgkey=http://packages.elastic.co/GPG-KEY-elasticsearch
enabled=1
